<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" href="{{url_for("static", filename = "style.css")}}">
<img src = "static/logo.png" alt = "Sanlam Logo">
<title> Sanlam Policy Manager </title> 
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h2>Policy Manager</br></h2>
            <h3>LOGIN</h3>
            <p>Please enter your provided credentials to login.</p>
          </div>
        </div>
        <form class="login-form" form action = "/login" method = "POST">
          <input type="email" placeholder="email" name = "username"/>
          <input type="password" placeholder="password" name = "password"/>
          <button type = "submit" value= "Submit">login</button>
        </form>
      </div>
    </div>

</body>
</body>
</html>