<html>
  <head>   
    <title> Sanlam Policy Manager </title> 
    <img src = "static/logo.png" alt = "Sanlam Logo" style="height: 100px; width: 300px; padding-left: 10px"/>
  </head>
</html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type = "text/javascript" src = {{url_for('static', filename = 'functions.js')}}></script>
    <link rel= "stylesheet" href="{{url_for("static", filename = "style.css")}}">
    
  </head>

<body style=  "background-color: #0074c9; ">
  
<ul>
<div class="tab">
  <form action = "/fetch_policies" method="post">
    <button><i class="fa fa-folder-o"></i></button>
    </form>
    
    <button onclick="opentab(event, 'Card')" id="defaultOpen"><i class="fa fa-credit-card"></i></button>
  
  <form action = "/statistics" method="post">
    <button><i class="fa fa-bar-chart"></i></button>
  </form>
  
    <br><br>  <br><br><br><br>  <br><br><br><br>  <br><br><br><br>  <br><br><br>
     <form action = "/settings" method="post"> 
    <button><i class="fa fa-user-o"></i></button>
  </form>
</div>


<div id="Card" class="tabcontent">
  <h3>USER PAYMENT</h3><br>
  <div class="polcontent">
  <form action="/pay" method="post" name = "payment_form" onsubmit="return validate_payment()" onkeyup="button_logic()">

    <tr>Account Number</tr><br>
    <input class="update" type="text" placeholder="XXXX-XXXX-XXXX-XXXX" name="account_number" minlength="16" maxlength="16"
      value="{{request.form.account_number }}" /><br><br>
    <tr>Expiry Date </tr> <br>
    <input class="update"  type="month" placeholder="MMMM/YYYY" name="expiry_date" value="{{request.form.expiry_date }}" /><br><br>
    <tr>CVV </tr><br>
    <input class="update"  type="text" placeholder= "XXX" name="cvv" minlength="3" maxlength="3"
      value="{{request.form.cvv }}" /><br><br>
    <tr>Insurance Name</tr> <br>
    <select name= "options" class="update">
    {% for item in policies%}
      <option value="{{item[0]}}">{{item[0]}}</option>
    {% endfor %}
    </select>
      <br><br>
    <tr>Amount to Pay</tr> <br><input class="update"  type="number" placeholder="R 00.00" name="amount_paid" min = "0"
      value="{{request.form.amount_paid}}" /><br><br>
    <input id="pay_button" disabled class="updatebutton" type="submit" value="Pay">
    <br>

        



          

     </form>
    </div>

  </div>

  <div id="snackbar">You made a Successful Payment :)</div>

</ul>
<script>

function opentab(evt, tabname) {
  document.getElementById(tabname).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>

</body>
</html> 
