<html>
  <head>   
    <title> Sanlam Policy Manager </title> 
    <img src = "static/logo.png" alt = "Sanlam Logo" style="height: 100px; width: 300px; padding-left: 10px"/>
  </head>
</html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type = "text/javascript" src = {{url_for('static', filename = 'functions.js')}}></script>
    <link rel= "stylesheet" href="{{url_for("static", filename = "style.css")}}">
    
  </head>

<body style=  "background-color: #0074c9; ">
  
<ul>
<div class="tab">

    <button onclick="opentab(event, 'Policies')" id="defaultOpen"><i class="fa fa-folder-o"></i></button>
 
    <form action = "/payments" method="post">
    <button><i class="fa fa-credit-card"></i></button>
  </form>
   <form action = "/statistics" method="post"> 
    <button><i class="fa fa-bar-chart"></i></button>
     </form>
  
    <br><br>  <br><br><br><br>  <br><br><br><br>  <br><br><br><br>  <br><br><br>
     <form action = "/settings" method="post"> 
    <button><i class="fa fa-user-o"></i></button>
  </form>
</div>

<div id="Policies" class="tabcontent">
  <h3>USER POLICIES</h3>
  <div class="polcontent">
  <div class="row">{% for item in policies %}   
    <div class="column">
      
      <div class="policies">
          
            <div style="text-align:center">
            <img style="width: 70%; height: 150px; padding-left: 0px" src="static/{{item[0]}}.png"/>
            </div>

            <h3 >
            {{ item[0] }} </h3> 
            <p>

            R {{ item[1] }} 
            <br> 
            Date: {{ item[2] }}
            </p>

            <a href="/static/sanlamLogo.jpg" download>Download Details</a>
          
        </div>
      
      </div>{% endfor %}
    </div>
</div>
</div>

</ul>
<script>

function opentab(evt, tabname) {
  document.getElementById(tabname).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>

</body>
</html> 
